<?xml version="1.0" encoding="utf-8"?>
<!--
	This file is part of Pandion instant messenger
	Copyright (c) 2009-2010 Sebastiaan Deckers
	License: GNU General Public License version 3 or later
-->
<Include>
	<!--
		These properties are shown in the installer UI, add/remove programs, ...
	-->
	<?define AppHelpLink="http://pandion.im/support" ?>
	<?define AppUrlInfoAbout="http://pandion.im/about" ?>
	<?define Manufacturer="Pandion Team" ?>
	<?define Name="Pandion" ?>

	<!--
		Used for file and directory names. Cannot contain \ / : * ? " < > |
	-->
	<?define SafeName="Pandion" ?>

	<!--
		Must be two digits in the 0-255 range separated by a period.
		Windows Installer checks the first three numbers when comparing versions.
		The third number is set below as the build number and must be in the 0-65535 range.
	-->
	<?define BaseVersion="$(env.VERSION_MAJOR).$(env.VERSION_MINOR)" ?>

	<!--
		Hudson continuous integration adds a sequence identifier to the version number.
	-->
	<?ifdef env.BUILD_NUMBER ?>
		<?define Version="$(var.BaseVersion).$(env.BUILD_NUMBER)" ?>
	<?else?>
		<?define Version="$(var.BaseVersion).0" ?>
	<?endif?>

	<!--
		Unique for each application to prevent update conflicts.
	-->
	<?define UpgradeCode="{9F661F94-F17F-4F5C-B1C8-2955C85C8FE9}" ?>
</Include>