<?xml version="1.0" encoding="utf-8"?>
<!--
	This file is part of Pandion instant messenger
	Copyright (c) 2009-2010 Sebastiaan Deckers
	License: GNU General Public License version 3 or later
-->
<Include>
	<!--
		These properties are shown in the installer UI, add/remove programs, ...
	-->
	<?define AppHelpLink="$(env.MSI_HELP_URL)" ?>
	<?define AppUrlInfoAbout="$(env.MSI_INFO_URL)" ?>
	<?define Manufacturer="$(env.MSI_MANUFACTURER)" ?>
	<?define Name="$(env.JOB_NAME)" ?>

	<!--
		Used for file and directory names. Cannot contain \ / : * ? " < > |
	-->
	<?define SafeName="$(env.JOB_NAME_SAFE)" ?>

	<!--
		Must be three digits in the 0-255 range separated by a period.
		Windows Installer checks the first three numbers when comparing versions.
	-->
	<?define Version="$(env.VERSION)" ?>

	<!--
		Unique for each application to prevent update conflicts.
	-->
	<?define UpgradeCode="{$(env.MSI_GUID)}" ?>
</Include>
