BODY {
	margin: 4px 0 0 4px;
	cursor: text;
}
A {
	color: blue;
	text-decoration: underline;
}
A:hover {
	color: red;
	text-decoration: underline;
}
.name-recv {
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #eaca35;
	border-bottom: 1px solid #d3d5d6;
	text-overflow: ellipsis;
	overflow: hidden;
}
.name-send {
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #96d444;
	border-bottom: 1px solid #d3d5d6;
	text-overflow: ellipsis;
	overflow: hidden;
}
.body-recv {
	padding: 0 0 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	color: #00396d;
	overflow: hidden;
	text-overflow: ellipsis;
}
.attention-body-recv {
	padding: 10px 0 10px 28px;
	font-family: Arial;
	font-size: 12pt;
	color: #bf2725;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	background: url(../images/attention/attention_recv.png) no-repeat left center;
}
.body-send {
	padding: 0 0 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	color: #004200;
	overflow: hidden;
	text-overflow: ellipsis;
}
.attention-body-send {
	padding: 10px 0 10px 28px;
	font-family: Arial;
	font-size: 12pt;
	color: #48444A;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
background: url(../images/attention/attention_send.png) no-repeat left center;
}
.date {
	width: 100%;
	padding: 0;
	margin: 8px 0 6px 0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #d4dae0;
	border-top: 1px solid #d4dae0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.time {
	padding: 0 2px 0 0;
	text-align: right;
	font-family: Tahoma;
	font-size: 10px;
	color: #848A8B;
}
.me-time {
	padding: 0 2px 0 0;
	text-align: right;
	font-family: Tahoma;
	font-size: 10px;
	color: #848A8B;
}
.me {
	font-family: Tahoma;
	font-size: 12px;
	color: purple;
	margin: 0 4px 4px 0;
}
.system {
	font-family: Tahoma;
	font-size: 12px;
	color: green;
	margin: 0 4px 4px 0;
}
.private-send, .private-recv {
	font-family: Tahoma;
	font-size: 12px;
	color: darkblue;
	margin: 0 4px 4px 0;
}
.error {
	font-family: Tahoma;
	font-size: 12px;
	color: #df2929;
	margin: 0 4px 4px 0;
}
.sound-label {
	margin-top: 2px;
	padding: 1px;
	text-align: center;
	font-family: Tahoma;
	font-size: 12px;
	color: #478ec5;
	width: 100px;
	height: 20px;
	border: 1px threedlightshadow solid;
	background-color: infobackground;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sound-button {
	height: 20px;
	width: 22px;
	margin: 0 0 2px 2px;
}
.history-date {
	width: 100%;
	padding: 0;
	margin: 8px 0 6px 0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #B4B6B6;
	border-top: 1px solid #E9EAEA;
	text-overflow: ellipsis;
	overflow: hidden;
}
.history-time {
	padding: 0 2px 0 0;
	text-align: right;
	font-family: Tahoma;
	font-size: 10px;
	color: #B4B6B6;
}
.history-me-time {
	padding: 0 2px 0 0;
	text-align: right;
	font-family: Tahoma;
	font-size: 10px;
	color: #B4B6B6;
}
.history-me {
	font-family: Tahoma;
	font-size: 12px;
	color: #C8BAD6;
	margin: 0 4px 4px 0;
}
.history-name-recv {
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #D4CFB9;
	border-bottom: 1px solid #E9EAEA;
	text-overflow: ellipsis;
	overflow: hidden;
}
.history-name-send {
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #C6D0BA;
	border-bottom: 1px solid #E9EAEA;
	text-overflow: ellipsis;
	overflow: hidden;
}
.history-body-recv, .history-body-send {
	padding: 0 0 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	color: #5B7389;
	overflow: hidden;
	text-overflow: ellipsis;
}
.history-body-recv A, .history-body-send A {
	color: #ACACD2;
	text-decoration: underline;
}
.history-body-recv A:hover, .history-body-send A:hover {
	color: #D2ACAC;
	text-decoration: underline;
}
.history-body-recv IMG, .history-body-send IMG {
	filter: progid:DXImageTransform.Microsoft.Alpha( opacity = 50 );
}

/* RTL */
html.rtl body {
	margin: 4px 4px 0 0;
	cursor: text;
}
html.rtl .body-recv, html.rtl .body-send, html.rtl .history-body-recv, html.rtl .history-body-send {
	padding: 0 4px 4px 0;
}
html.rtl .time, html.rtl .me-time {
	padding: 0 2px 0 0;
}
html.rtl .me, html.rtl .system, html.rtl .private-send, html.rtl .private-recv, html.rtl .error, html.rtl .history-me {
	margin: 0 0 4px 4px;
}
html.rtl .sound-button {
	margin: 0 2px 2px 0;
}
html.rtl .history-time, html.rtl .history-me-time {
	padding: 0 0 0 2px;
}
.quote-text {
	padding: 0 0 0 28px;
	font-family: "Segoe UI", Tahoma;
	font-size: 10pt;
	color: #696969;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	font-style: italic;
	line-height: 20pt;
	background: url(../images/chat-container/quote-text.png) no-repeat left top;
	border-bottom: 1px solid #d3d5d6;
}
