/* General Elements
 */
BODY {
	cursor: default;
	margin: 0px;
	padding: 0px;
	background-color: window;
	color: windowtext;
}
A {
	color: blue;
}
A:hover {
	color: red;
}
TD {
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
}

/* Content Edge
 */
#rosterfield {
	height: 100%;
	overflow: auto;
	padding: 0 0 0 6px;
}
#content-area {
	height: 100%;
	background: url(../images/main/content-behind.png) repeat-x left top;
}
.content-edge-top {
	padding-bottom: 5px;
	padding-top: 6px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/top.png) no-repeat center top;
}
.content-edge-left {
	padding-left: 6px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/left.png) no-repeat left top;
}
.content-edge-right {
	padding-right: 5px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/right.png) no-repeat right top;
}
.content-edge-bottom {
	padding-bottom: 1px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/bottom.png) repeat-x left bottom;
}

/* Bar with status, name, avatar, etc.
 */
#mode-bar {
	cursor: hand;
	display: block;
	background: url(../images/main/mode-behind.png) repeat-x left top;
}
.mode-frame-left {
	padding-left: 4px;
	width: 100%;
	height: 100%;
	background: url(../images/main/mode-frame-left.png) no-repeat left top;
}
.mode-frame-right {
	padding-right: 4px;
	width: 100%;
	height: 100%;
	background: url(../images/main/mode-frame-right.png) no-repeat right top;
}
#mode-avatar {
	float: left;
	margin: 5px 3px 0 1px;
	background-repeat: no-repeat;
	background-position: center center;
	border: 2px solid transparent;
	height: 32px;
	width: 32px;
}
#mode-top {
	width: 100%;
	margin-top: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
	color: #4f575c;
}
#mode-name {
	font-family: "Segoe UI", Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #1a7ab0;
}
#mode-message {
	height: 16px;
	width: 100%;
	padding-left: 2px;
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
	color: #1a7ab0;
	text-overflow: ellipsis;
	overflow: hidden;
}
#mode-secure {
	display: none;
	margin-left: 4px;
	border-width: 0;
}

/* Notification box for new messages
 */
.unread-messages-line {
	display: block;
	height: 23px;
	margin: 1px;
	border: 1px threedlightshadow solid;
	padding-left: 6px;
	padding-top: 4px;
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
	background-color: infobackground;
}

/* Find As You Type
 */
#find-area {
	background-color: #e9f7fe;
}
#find-frame {
	width: 100%;
	height: 100%;
	border-left: 1px solid #a6d0e7;
	border-right: 1px solid #a6d0e7;
}
#find-wrapper {
	background-color: window;
	margin: 4px 4px 0 4px;
	border: 1px solid #94d4ff;
	width: 100%;
}
#find-query {
	padding: 4px;
	border-width: 0;
	width: 100%;
	height: 22px;
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
}
#find-query.inactive
{
	font-style: italic;
	color: graytext;
}
#find-close {
	width: 18px;
	height: 17px;
	margin-top: 1px;
	font-size: 0;
	border-width: 0;
	cursor: default;
	background-image: url(../images/misc/tab-bar-close-lite.gif);
}
#find-close:hover {
	background-image: url(../images/misc/tab-bar-close-over-lite.gif);
}
#find-close.inactive {
	display: none;
}

/* Inside Frame
 */
.inside-edge-left {
	padding-left: 1px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/inside-left.png) repeat-y left top;
}
.inside-edge-right {
	padding-right: 1px;
	width: 100%;
	height: 100%;
	background: url(../images/edge/inside-right.png) repeat-y right top;
}

/* Tab buttons
 */
#tab-area {
	background-color: white;
}
#tab-bar-row {
	background-image: url(../images/chat-container/tabs-behind.png);
	background-repeat: repeat;
}
#tab-bar-row td {
	font-size: 1px;
	padding: 0 0 0 6px;
}
.tab-bar-button {
	background: transparent url(../images/main/tab-add-button-faded.png) no-repeat top left;
	_background-image: none; /* ie6 only */
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/main/tab-add-button-faded.png", sizingMethod="crop"); /* ie6 only */
	float: left;
	height: 28px;
	width: 36px;
}
.tab-bar-button-active {
	background: transparent url(../images/main/tab-add-button.png) no-repeat top left;
	float: left;
	height: 28px;
	width: 36px;
}
.tab-bar-icon {
	float: left;
	height: 16px;
	margin: 4px 0 0 10px;
	width: 16px;
}

/* RTL Contact List */
html.rtl #rosterfield {
	padding: 0 6px 0 0;
}
html.rtl #mode-avatar {
	float: right;
	margin: 5px 1px 0 3px;
}
html.rtl #tab-bar-row td {
	padding: 0 6px 0 0;
}
html.rtl .tab-bar-button, html.rtl .tab-bar-button-active {
	float: right;
}
html.rtl .tab-bar-icon {
	float: right;
	margin: 4px 10px 0 0;
}

/* Sign In
 */
#signin-dialog {
	border-width: 0;
	color: #333;
	display: none;
	height: 100%;
	font-family: "Segoe UI", Tahoma;
	font-size: 12px;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#signin-area {
	background: url(../images/sign-in/content-behind.png) repeat-x left top;
}
.signin-frame-top {
	width: 100%;
	height: 100%;
	background: url(../images/sign-in/frame-top.png) repeat-x left top;
}
.signin-frame-left {
	padding-left: 4px;
	width: 100%;
	height: 100%;
	background: url(../images/sign-in/frame-left.png) no-repeat left top;
}
.signin-frame-right {
	padding-right: 4px;
	width: 100%;
	height: 100%;
	background: url(../images/sign-in/frame-right.png) no-repeat right top;
}
#signin-welcome {
	width: 130px;
	height: 103px;
	border: 0;
	margin: 20px 0 0 0;
/*	background-image: url(../images/sign-in/logo-shiny-hover.png);
*/	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/sign-in/logo-shiny-hover.png", sizingMethod="crop");
}
#txt-signin-address, #txt-signin-password {
	display: block;
}
#signin-instructions {
	border: 0;
	margin: 0;
	padding: 0 40px;
	font-weight: normal;
	font-size: 20px;
}
#signin-area form, #signin-area ul {
	margin: 0;
	padding: 0;
	margin-top: 16px;
	text-align: left;
	width: 250px;
}
#signin-area ul {
	list-style-type: none;
}
#signin-address {
	color: #333;
	font-family: "Segoe UI", Tahoma;
	font-size: 1.3em;
	position: absolute;
	width: 234px;
}
#signin-recently-used {
	color: #333;
	font-family: "Segoe UI", Tahoma;
	font-size: 1.3em;
	position: absolute;
	width: 100%;
	clip: rect(0 100% 100% 231px);
}
#signin-area select, option {
	height: 10px;
}
#signin-examples {
	color: #555;
	font-style: italic;
	margin: 30px 0 15px 0;
	width: 100%;
}
#signin-area DT {
	display: inline;
	float: left;
	height: 2.5em;
	margin: 0 8px 0 0;
}
#signin-area DD {
	display: inline;
	float: left;
}
#signin-password {
	color: #333;
	font-family: "Segoe UI", Tahoma;
	font-size: 1.3em;
	margin-bottom: 15px;
	width: 100%;
}
#signin-connect {
	color: #eee;
	font-size: 16px;
	font-weight: bold;
	background: transparent url(../images/sign-in/shiny.png) left -13px repeat-x;
	padding: 3px 10px;
	margin: 15px 0 0 65px;
}
#signin-area li {
	margin: 0 0 8px 0;
}

/* RTL Sign In */
html.rtl #signin-area form, html.rtl #signin-area ul {
	text-align: right;
}
html.rtl #signin-recently-used {
	clip: rect(0 20px 100% 0);
}
html.rtl #signin-area DT {
	float: right;
	margin: 0 0 0 8px;
}
html.rtl #signin-area DD {
	float: right;
}
html.rtl #signin-connect {
	margin: 15px 65px 0 0;
}
