/////////////////////////////////////////////////////////////////////////////
// This file is part of Pandion.
//
// Pandion is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Pandion is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Pandion.  If not, see <http://www.gnu.org/licenses/>.
//
// Filename:    Pandion.rc
// Author(s):   Dries Staelens
// Copyright:   Copyright (c) 2009 Dries Staelens
// Description: The resource file for Pandion.

#include <winresrc.h>
#include <VersionNo.h>

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
// Typelib

1 TYPELIB "Pandion.tlb"

/////////////////////////////////////////////////////////////////////////////
// Version

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e3"
        BEGIN
            VALUE "Comments", "http://www.pandion.be"
            VALUE "CompanyName", "Pandion"
            VALUE "FileDescription", "Pandion Instant Messenger"
            VALUE "LegalCopyright", "Created by Sebastiaan Deckers and Dries Staelens."
#if defined(MAJOR_VERSION) && defined(MINOR_VERSION) && defined(BUILD_NUMBER)
			VALUE "FileVersion", ""
			VALUE "ProductVersion", ""
#else
			VALUE "FileVersion", FILEVERSTR
			VALUE "ProductVersion", PRODUCTVERSTR
#endif
			END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1251
    END
END

/////////////////////////////////////////////////////////////////////////////
// Icon

#define IDI_ICON1 205
IDI_ICON1               ICON                    "default.ico"
