/* Content edge
 */
#content-edge-top {
	background: url(../../images/edge/green/top.png) no-repeat center top;
}
#content-edge-left {
	background: url(../../images/edge/green/left.png) no-repeat left top;
}
#content-edge-right {
	background: url(../../images/edge/green/right.png) no-repeat right top;
}
#content-edge-bottom {
	background: url(../../images/edge/green/bottom.png) repeat-x left bottom;
}
.inside-edge-left {
	background: url(../../images/edge/green/inside-left.png) repeat-y left top;
}
.inside-edge-right {
	background: url(../../images/edge/green/inside-right.png) repeat-y right top;
}
/* Bar with status, name, avatar, etc.
 */
#mode-bar {
	background: url(../../images/chat-container/green/mode-behind.png) repeat-x left top;
}
#mode-frame-left {
	background: url(../../images/chat-container/green/mode-frame-left.png) no-repeat left top;
}
#mode-frame-right {
	background: url(../../images/chat-container/green/mode-frame-right.png) no-repeat right top;
}
#mode-name {
	color: #1A850A;
}
#mode-message {
	color: #1A850A;
}
#mode-address {
	color: #1A850A;
}
/* Toolbar buttons
 */
#toolbar {
	background-image: url(../../images/chat-container/green/toolbar-behind.png);
}
#tab-bar-row {
	background-image: url(../../images/chat-container/green/tabs-behind.png);
}
.tab-bar-button-active {
	background-image: url(../../images/chat-container/green/tab-button.png);
}
/* New tab screen
 */
#new-tab {
	background: url(../../images/sign-in/green/content-behind.png) repeat-x left top;
}
.new-tab-top {
	background: url(../../images/sign-in/green/frame-top.png) repeat-x left top;
}
.new-tab-left {
	background: url(../../images/sign-in/green/frame-left.png) no-repeat left top;
}
.new-tab-right {
	background: url(../../images/sign-in/green/frame-right.png) no-repeat right top;
}
.toolbar-button-over {
	color: buttontext;
	background-color: #d5ffd5;
	border: 1px #1A850A solid;	
}